h1{
    font-style: serif;
    text-align:center
}
#about {
    font-style:italic ;
    font-weight: 800;
    text-align: center;
}

body{
    margin:20px;
    padding:20px;
    font-family: sans-serif;
 }

#img-div{
    display:block;
    max-width:100%;
    height:auto;
}

#tribute-info{
    text-align: center;

}
.bold{
    font-weight: bold;
}
#main{
    margin:20px;
    padding:20px;

}